rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // In this app, customers do not use Firebase Auth to log in. 
    // They are identified by phone number/id. 
    // Therefore, we must allow public read/write to collections they interact with.
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
